<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITCAutomaticSurveys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ISISConnectionString" connectionString="Data Source=SQL1.nexus.uwaterloo.ca;Initial Catalog=itc-isis;Integrated Security=True" />
  </connectionStrings>
  <userSettings>
    <ITCAutomaticSurveys.Properties.Settings>
      <setting name="AutoSurveysFolder" serializeAs="String">
        <value>\\psychfile\psych$\psych-lab-gfong\SMG\Access\Reports\Automatic Surveys\</value>
      </setting>
      <setting name="AutoSurveysFolderTest" serializeAs="String">
        <value>D:\users\Automatic Surveys Test\</value>
      </setting>
    </ITCAutomaticSurveys.Properties.Settings>
  </userSettings>
</configuration>